/* Estilos Gerais */
body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

header {
    padding: 15px;
    margin-bottom: 15px;
}

header h1 {
    font-size: 2em; /* Título */
    font-weight: 700; /* Peso pesado */
    color: #fff;
    animation: pulse 1.5s infinite;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.gallery-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item:hover img {
    transform: scale(1.1);
}

.spotify{
    margin-top: 15px;
}

.spotify h1{
    margin-top: 20px;
    margin-bottom: 5px;
}

.spotify-embed {
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    margin-top: 15px;
}

footer {
    padding: 10px;
    margin-top: 15px;
}

footer h1 {
    font-size: 1.5em; /* Título do rodapé */
    font-weight: 500; /* Peso médio */
    color: #fff;
}

/* Estilos para o countdown */
#countdown {
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os blocos */
    margin-bottom: 15px; /* Espaçamento entre as linhas */
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digit {
    font-size: 2.5em; /* Tamanho dos dígitos */
    font-weight: bold;
    padding: 10px 20px;
    background-color: #222;
    border-radius: 5px;
    margin-bottom: 5px;
    min-width: 60px;
    text-align: center;
    border: 2px solid #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.label {
    font-size: 1em; /* Tamanho das etiquetas */
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.message {
    font-size: 1.2em; /* Tamanho da mensagem */
    font-weight: 300;
    font-style: italic;
    margin-top: 15px;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

/* Estilos específicos para dispositivos móveis */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    header {
        padding: 10px;
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.8em; /* Reduzido um pouco para caber melhor em telas menores */
    }

    .gallery-item {
        width: 105px;
        height: 130px;
    }

    .gallery-item img {
        transition: none;
    }

    footer {
        padding: 8px;
        margin-top: 10px;  
    }

    footer h1 {
        font-size: 1.2em; /* Reduzido um pouco para caber melhor em telas menores */
    }

    .lightbox-content {
        max-width: 90%;
    }

    .close {
        font-size: 25px;
    }
    
    #countdown {
        padding: 20px;
    }

    .row {
        flex-direction: row;
        gap: 10px; /* Espaçamento reduzido para telas menores */
        margin-bottom: 10px; /* Reduz o espaço entre linhas */
    }

    .digit {
        font-size: 2em; /* Tamanho dos dígitos */
        padding: 8px 16px;
        min-width: 50px; /* Ajuste de largura para telas menores */
    }

    .label {
        font-size: 0.9em; /* Tamanho das etiquetas */
    }

    .message {
        font-size: 1em; /* Tamanho da mensagem */
    }
}
